---
layout: default
title: Carson Reinke
---

<div class="column">
  <h2>Blog Posts</h2>
  <ul>
    {% for post in site.posts %}
      {% unless post.tags contains "link" %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date: "%m/%d/%Y" }})
        {% if post.tags %}
          {% for tag in post.tags %}
            <span class="badge">{{ tag }}</span>
          {% endfor %}
        {% endif %}
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

<div class="column">
  <h2>Personal Projects</h2>
  <ul>
    {% for project in site.data.projects %}
    <li>
      <h3>{{ project.name }} </h3>
      <ul class="links">
      {% for link in project.links %}
        <li><a href="{{ link }}">{{ link }}</a></li>
      {% endfor %}
      </ul>
      <p>{{ project.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>