body {
    font-size: 1em;
}

header > nav {
}

header > nav > ol {
    list-style-type: none;
    padding-left: 0;
}

header > nav > ol > li {
    display: inline-block;
}

header > nav > ol > li::after {
    content: ' |';
}

header > nav > ol > li:last-child::after {
    content: '';
}

main > ol > li {
    max-width: 100%;
    overflow: scroll;
}