body {
    font-family: 'Public Sans', sans-serif;
    font-size: 1em;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

a:visited {
    color: rgb(0, 0, 238)
}

header > nav > ol {
    list-style-type: none;
    padding-left: 0;
}

header > nav > ol > li {
    display: inline-block;
}

header > nav > ol > li::after {
    content: ' |';
}

header > nav > ol > li:last-child::after {
    content: '';
}