<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38690663-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% seo %}

    <!-- Twitter card -->
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ page.title }}">
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <header>
      <div class="headshot"><img src="assets/images/android-chrome-512x512.png" alt="Carson Reinke's Headshot"></div>
      
      <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>

      <nav>
        <ol>
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="mailto:website@reinke.co">Email</a></li>
            <li><a href="https://www.linkedin.com/in/carsonreinke/#_=_">LinkedIn</a></li>
            <li><a href="https://twitter.com/carsonreinke#_=_">Twitter</a></li>
            <li><a href="https://github.com/carsonreinke">GitHub</a></li>
            <li><a href="https://stackoverflow.com/story/carsonreinke">Stack Overflow</a></li>
            <li><a href="{{ "/files/Carson%20Reinke%20Resume.pdf" | relative_url }}">Resume</a></li>
        </ol>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
    </footer>
  </body>
</html>
